<!DOCYTPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
  </head>
  <!-- コンテンツエリア -->
  <body>
    <div class="contents-home">
      <div class="console">
        <div id="console"></div>
      </div>
      <div class="btn-box-area">
        <div class="btn-box"><div id="btn1" class="btn"></div></div>
        <div class="btn-box"><div id="btn2" class="btn"></div></div>
        <div class="btn-box"><div id="btn3" class="btn"></div></div>
        <div class="btn-box"><div id="btn4" class="btn"></div></div>
        <div class="btn-box"><div id="btn5" class="btn"></div></div>
      </div>
    </div>
  </body>
</html>
